<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add a new dive</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1>Add dive </h1>

  <form action="/dives" method="POST">
    <label for="location">site of diving:</label>
    <input type="text" name="location" id="location" required />

    <label for="date">date:</label>
    <input type="date" name="date" id="date" required />

    <label for="type">Type of diving:</label>
    <select name="type" id="type" required>
      <option value="free diving">Free Diving</option>
      <option value="scuba diving">Scuba Diving</option>
    </select>

    <label for="depth">Depth of diving:</label>
    <select name="depth" id="depth" required>
      <% for (let m = 4; m <= 42; m++) { %>
        <option value="<%= m %>"><%= m %> m</option>
      <% } %>
    </select>

    <label for="bottomTime">Bottom Time:</label>
    <input type="text" name="bottomTime" id="bottomTime" required />

  <label for="notes">Notes:</label>
  <textarea name="notes" id="notes" rows="4"></textarea>

    <label for="rating">Rating:</label>
    <select name="rating" id="rating" required>
      <% for (let r = 1; r <= 5; r++) { %>
        <option value="<%= r %>"><%= '★'.repeat(r) %></option>
      <% } %>
    </select>

    <button type="submit">Add</button>
  </form>

  <a href="/users/<%= user._id %>">Back to my dives</a>
</body>
</html>